/* .container {
    
   /* background-color:  rgb(36, 34, 34) ;
}*/

header{
    display: inline-flex;
    width: 100%;
    height: 30px;
    background-color: rgb(36, 34, 34);
    
}
#logo{
    width: 200px;
    height: 25px;
    background-color: red;
    background-image: url(/immagini/bgiheader.png);
    background-position:left ;
    background-size: cover;   
}
.box1{
    width: 100%;
}
.box2{
    background-image: url(/immagini/sfondo.png);;

}
.cards{
    padding-bottom: 2%;
    display: flex;
    justify-content: center;
}
.box3{
    background-color: rgb(36, 34, 34) ;
}
.meme{
    padding-bottom: 1%;
}
.main{
    padding-top: 4%;
    padding-bottom: 4%;
    background-image: url(/immagini/sfondo.png);;

}
footer{
    position: relative;
    width: 100%;
    background-color: rgb(36, 34, 34);
    display: flex;
    justify-content: left;
}
.left{
    margin-left: 1%;
    display: inline-block;
    
}
.icon{
    width: 20px;
    height: 20px;
    background-color: red;
    margin: 1%;
}
.icontent{
    position: relative;
   display: flex;
   justify-content: end;
    margin-left: 80%;
}

.minimenucont{
    opacity: 0.5;
    display: flex;
    justify-content: center;
}
.trattinimenu{
border-radius: 6px;
width: 700px;
background-color: lightgrey;
background-color: grey;
text-align: center;

}
.babbo{
    margin-left: 16%;
    margin-top: 1%;
    width: 90px;
    height: 90px;
    background-image: url(/immagini/Background.png);
    background-size: cover;
}
.sizefoto{
    width: 285px;
}
.icn{

    display: inline-block;
    padding-left: 5%;
    margin-right: 10%;
}
a{
    text-decoration: none;
    color: white;
}